/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  @font-face {
    font-family: titraj ;
    src: url('Font/Persian Titraj 2.ttf');
  }
  @font-face {
    font-family: hilan ;
    src: url('Font/Digi\ Hilan\ Bold.ttf');
  }
@font-face {
  font-family: mitra;
  src: url('Font/Far_Mitra.ttf');
}
body {
  background-color: #d2b48c;
  justify-content: center;
  align-items: center;
  background-image:url('video/giphy.gif') ;
  background-repeat: round;
  
}

main {
  font-family: hilan;
  font-size: 1.2rem;
}
header {
background-color: rgb(229, 255, 0);
padding: 10px;
font-family: hilan ;
color: #000;
text-align: center;
background-image: url('image/meme-background.jpg');
background-repeat: no-repeat;
background-size: 200px auto;
}
div > button {
  border-radius: 5px;
  background-color: #d2b48c;
  color: #000;
  font-family: mitra;
  height: 30px;
  width: 50px;
  font-size: large;

}
header > p {
  font-size: 30px;
  font-family: titraj;
}
article {
  text-align: center;
  font-family: titraj;
  font-size: 1.5rem;
}
div > center > video {
  border-radius: 10px;
  background-color: #000;
  margin: 10px;
  box-shadow: #000;
  height: 400px;
  width: 300px;
}
div > p {
  font-family: hilan;
  text-align: start;
  font-size: 1.5rem;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;

}
a {
  font-family: titraj;
  font-size: 1.6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
form {
  background-color: #4e5a04;
  border-radius: 10px;
}
form > input {
  color: #000;
  border-radius: 10px;
  font-size: 20px;
  font-family: mitra;
}
  nav {
    background-color: rgb(229, 255, 0);
    padding: 10px;
    font-family: hilan ;
    color: #000;
    text-align: center;
    font-size: 1.2rem;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  
  nav ul li a:hover {
    color: #97001e;
    transition: 0.5s;
  }
  
  /* STYLE MAIN CONTENT */
  main {
    padding: 20px;
  }
  
  /* STYLE FOOTER */
  footer > nav {
    color: #000;
    text-align: center;
    padding: 10px;
    position: sticky;
    width: 100%;
    bottom: 0;
  }
  
  /* RESPONSIVE DESIGN */
  @media (max-width: 768px) {
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  }

  